extends ../../layouts/layout

block body
  .container
    .row
      .col-sm-3
        button.btn a
      .col-sm-3
        button.btn b
      .col-sm-3
        button.btn c
      .col-sm-3
        button.btn d