!!! 5
html
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    
    block head
      link(rel='stylesheet', href=css('skeleton.css'))
      script(src=js('skeleton.js'))

  body
    block body
